@page
@model EFCoreTeaching_RazorPages.GetEnrollmentsModel
@{
    ViewData["Title"] = "GetEnrollments";
}

<h3 style="color:red">All Enrollments</h3>
<table class="table">
    <thead>
        <tr>
            <th>  Enrollment Id </th>
            <th>  Student Id </th>
            <th>  Student Name </th>

            <th>  Course Id </th>
            <th>  Course Name </th>

            <th>  Grade  </th>
        </tr>
    </thead>
    <tbody>

        @if (Model.Enrollments!= null)
        {
          @foreach (var item in Model.Enrollments)
          {
        <tr>
            <td> @item.EnrollmentId </td>
            <td> @item.StudentId </td>
            <td> @item.Student.Name </td>
            <td> @item.CourseId</td>
            <td> @item.Course.CourseName</td>
            <td> @item.Grade </td>
        </tr>
            }
        }
</table>

